$button-active-blue: #1669f2;
.social-btn {
  min-width: 184px;
  height: 38px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: 0 0 6px #4285f4;
  }

  &:active {
    background: $button-active-blue;
  }
}

.social-icon-container {
  position: relative;

  margin-top: 3px;
  margin-left: 2px;
  width: 35px;

  height: 30px;
  border-radius: 2px;
}

.social-icon {
  margin-left: 11px;
  margin-top: 7px;
  width: 17px;
  height: 17px;
}

.btn-text {
  position: absolute;
  top: 14px;
  left: 42%;

  font-size: 13px;
  letter-spacing: 0.2px;
  font-family: Arial, Helvetica, sans-serif;
}
